body{
    background-color: rgb(55, 86, 119);
}
main{
    background-color: cadetblue;
    font-family: Cambria;
    width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}
#intro{
    text-align: center;
}
#intro h1{
    color: orange;
}
#intro img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}
a{
    color: rgb(77, 35, 18);
    text-size-adjust: auto;
    text-decoration: dashed;
}
dd{
    background-color: whitesmoke;
    text-align: justify;
    border-radius: 5px;
}
#visitantes{
    text-align: center;
}
footer{
    background-color: whitesmoke;
    text-align: center;
    width: 250px;
    height: 120px;
    margin: auto;
    border-radius: 10px;
}
footer #copyright{
    font-size: small;
    color: whitesmoke;
    background-color: black;
}
footer p img{
    padding: 10px;
    width: 30px;
    height: 30px;
}
