*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Abel', sans-serif;
    overflow-wrap: break-word;
}
header{
  margin-bottom: 50px;
}
.navbar .navbar-brand img {
    height: 70px;
    -webkit-transition: height .5s;
    transition: height .5s;
    -o-object-fit: cover;
    object-fit: cover;
}
#my-nav{
  border-width: 1px;
  border-color: white;
}
.menu-item{
    margin-bottom: 5px;
}
.container{
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}
#intro{
    text-align: center;
}
#intro h1{
    padding: 20px;
    color: orange;
}
#intro img{
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
}
.social-card{
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}
.social-icon{
    height: 24px;
    width: 24px;
}
.social-icon:hover{
    padding: 2px;
}
.ili{
    margin-left: 150px;
}
footer{
  margin-top: 50px;
}
